.form-container {

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;

}


.form-container h3 {

  width: 100%;
  margin-bottom: 10px;

}


mat-form-field {

  width: 220px;

}



button {

  height: 56px;
  margin-top: 4px;

}



table {

  width: 100%;

}



th {

  font-weight: bold;

}



td {

  padding: 12px;

}



.mat-mdc-row:hover {

  background-color: rgba(0,0,0,0.04);

}