<h2 mat-dialog-title>
  {{ isEdit ? 'Modifier un employé' : 'Ajouter un employé' }}
</h2>

<form [formGroup]="form">

  <mat-dialog-content>

    <!-- Matricule -->
    <mat-form-field appearance="outline">

      <mat-label>Matricule</mat-label>

      <input
        matInput
        formControlName="matricule">

      <mat-error *ngIf="form.get('matricule')?.hasError('required')">
        Le matricule est obligatoire
      </mat-error>

      <mat-error *ngIf="form.get('matricule')?.hasError('minlength')">
        Minimum 3 caractères
      </mat-error>

    </mat-form-field>


    <!-- Nom -->
    <mat-form-field appearance="outline">

      <mat-label>Nom</mat-label>

      <input
        matInput
        formControlName="nom">

      <mat-error *ngIf="form.get('nom')?.hasError('required')">
        Le nom est obligatoire
      </mat-error>

    </mat-form-field>


    <!-- Prénom -->
    <mat-form-field appearance="outline">

      <mat-label>Prénom</mat-label>

      <input
        matInput
        formControlName="prenom">

      <mat-error *ngIf="form.get('prenom')?.hasError('required')">
        Le prénom est obligatoire
      </mat-error>

    </mat-form-field>


    <!-- Email -->
    <mat-form-field appearance="outline">

      <mat-label>Email</mat-label>

      <input
        matInput
        formControlName="email">

      <mat-error *ngIf="form.get('email')?.hasError('required')">
        L'email est obligatoire
      </mat-error>

      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Email invalide
      </mat-error>

    </mat-form-field>


    <!-- Poste -->
    <mat-form-field appearance="outline">

      <mat-label>Poste</mat-label>

      <input
        matInput
        formControlName="poste">

      <mat-error *ngIf="form.get('poste')?.hasError('required')">
        Le poste est obligatoire
      </mat-error>

    </mat-form-field>


    <!-- Département -->
    <mat-form-field appearance="outline">

      <mat-label>Département</mat-label>

      <input
        matInput
        formControlName="departement">

      <mat-error *ngIf="form.get('departement')?.hasError('required')">
        Le département est obligatoire
      </mat-error>

    </mat-form-field>


    <!-- Salaire -->
    <mat-form-field appearance="outline">

      <mat-label>Salaire brut</mat-label>

      <input
        matInput
        type="number"
        formControlName="salaireBrut">

      <mat-error *ngIf="form.get('salaireBrut')?.hasError('required')">
        Le salaire est obligatoire
      </mat-error>

      <mat-error *ngIf="form.get('salaireBrut')?.hasError('min')">
        Le salaire doit être supérieur à 0
      </mat-error>

    </mat-form-field>


    <!-- Date -->
    <mat-form-field appearance="outline">

      <mat-label>Date d'embauche</mat-label>

      <input
        matInput
        type="date"
        formControlName="dateEmbauche">

      <mat-error *ngIf="form.get('dateEmbauche')?.hasError('required')">
        La date est obligatoire
      </mat-error>

    </mat-form-field>

  </mat-dialog-content>


  <mat-dialog-actions>

    <button
      mat-button
      type="button"
      (click)="dialogRef.close()">

      Annuler

    </button>


    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="form.invalid"
      (click)="submit()">

      {{ isEdit ? 'Modifier' : 'Ajouter' }}

    </button>

  </mat-dialog-actions>

</form>