<h2>Liste des bulletins</h2>

<button (click)="ajouter()">
    Ajouter
</button>

<table border="1">

    <thead>
        <tr>
            <th>ID</th>
            <th>Employé</th>
            <th>Mois</th>
            <th>Année</th>
            <th>Salaire brut</th>
            <th>Retenues</th>
            <th>Salaire net</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let b of bulletins">

            <td>
                {{ b.id }}
            </td>

            <td>
                {{ b.employe?.nom }} {{ b.employe?.prenom }}
            </td>

            <td>
                {{ b.mois }}
            </td>

            <td>
                {{ b.annee }}
            </td>

            <td>
                {{ b.salaireBrut }}
            </td>

            <td>
                {{ b.retenues }}
            </td>

            <td>
                {{ b.salaireNet }}
            </td>

            <td>

                <button (click)="modifier(b)">
                    Modifier
                </button>

                <button (click)="telecharger(b.id!)">
                    PDF
                </button>

                <button (click)="supprimer(b.id!)">
                    Supprimer
                </button>

            </td>

        </tr>

        <tr *ngIf="bulletins.length === 0">

            <td colspan="8">
                Aucun élément
            </td>

        </tr>

    </tbody>

</table>