<h2 mat-dialog-title>
    {{ isEdit ? 'Modifier un bulletin' : 'Ajouter un bulletin' }}
</h2>


<form [formGroup]="form">


<mat-dialog-content>


    <!-- Employé -->

    <mat-form-field appearance="outline">

        <mat-label>Employé ID</mat-label>

        <input
        matInput
        type="number"
        formControlName="employeId">


        <mat-error *ngIf="form.get('employeId')?.hasError('required')">

            L'identifiant de l'employé est obligatoire

        </mat-error>


    </mat-form-field>




    <!-- Mois -->

    <mat-form-field appearance="outline">

        <mat-label>Mois</mat-label>

        <input
        matInput
        formControlName="mois">


        <mat-error *ngIf="form.get('mois')?.hasError('required')">

            Le mois est obligatoire

        </mat-error>


    </mat-form-field>




    <!-- Année -->

    <mat-form-field appearance="outline">

        <mat-label>Année</mat-label>

        <input
        matInput
        type="number"
        formControlName="annee">


        <mat-error *ngIf="form.get('annee')?.hasError('required')">

            L'année est obligatoire

        </mat-error>


    </mat-form-field>





    <!-- Salaire brut -->

    <mat-form-field appearance="outline">

        <mat-label>Salaire brut</mat-label>

        <input
        matInput
        type="number"
        formControlName="salaireBrut">


        <mat-error *ngIf="form.get('salaireBrut')?.hasError('required')">

            Le salaire brut est obligatoire

        </mat-error>


    </mat-form-field>





    <!-- Retenues -->

    <mat-form-field appearance="outline">

        <mat-label>Retenues</mat-label>

        <input
        matInput
        type="number"
        formControlName="retenues">


        <mat-error *ngIf="form.get('retenues')?.hasError('required')">

            Les retenues sont obligatoires

        </mat-error>


    </mat-form-field>





    <!-- Salaire net -->

    <mat-form-field appearance="outline">

        <mat-label>Salaire net</mat-label>

        <input
        matInput
        type="number"
        formControlName="salaireNet">


        <mat-error *ngIf="form.get('salaireNet')?.hasError('required')">

            Le salaire net est obligatoire

        </mat-error>


    </mat-form-field>



</mat-dialog-content>





<mat-dialog-actions align="end">


    <button
    mat-button
    type="button"
    (click)="fermer()">

        Annuler

    </button>




    <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="enregistrer()">


        {{ isEdit ? 'Modifier' : 'Ajouter' }}


    </button>


</mat-dialog-actions>


</form>